.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: #252df5;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav img {
  max-height: 90px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: rgb(37, 45, 245);
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 18px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: rgb(34, 38, 156);
}
